/* BASIC STYLES HERE */

:root {
    --bg-img: '';
}

body,
html {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    background-image: var(--bg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoom 60s infinite alternate ease-in;
}

@keyframes zoom {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 250%;
    }
}

.clock {
    font-size: 10rem;
}

#img-details {
    position: absolute;
    top: 85vh;
    margin: 1rem;
    color: rgb(168, 168, 168);
    background-color: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(5px);
    width: 15vw;
    border-radius: 5px;
}

#user {
    border-radius: 5px;
    padding: .5rem .5rem 0 .5rem;
    position: absolute;
    bottom: 80vh;
    margin: 1rem;
    color: rgb(168, 168, 168);
    background-color: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(5px);
    width: fit-content;
}

#weather {
    position: absolute;
    left: 88vw;
    text-align: center;
    border-radius: 25%;
    margin: 1rem;
    color: rgb(29, 29, 29);
    background-color: rgba(218, 218, 218, 0.8);
    backdrop-filter: blur(5px);
    width: 10vw;
}

#time {
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15vh;
    margin: auto;
    color: rgb(168, 168, 168);
    background-color: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(8px);
    width: 35vw;
    height: fit-content;
}

#todos {
    border-radius: 5px;
    display: inline;
    position: absolute;
    left: 75vw;
    right: 0;
    top: 50vh;
    bottom: 0;
    margin: auto;
    color: rgb(168, 168, 168);
    background-color: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(8px);
    width: 20vw;
    height: fit-content;
}

#stats {
    padding: .5rem;
    border-radius: 5px;
    display: inline;
    position: absolute;
    left: 85vw;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: rgb(15, 15, 15);
    background-color: rgba(218, 218, 218, 0.8);
    backdrop-filter: blur(8px);
    width: fit-content;
    height: fit-content;
}

#quote {
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 90vh;
    margin: auto;
    color: rgb(29, 29, 29);
    background-color: rgba(218, 218, 218, 0.8);
    backdrop-filter: blur(5px);
    width: fit-content;
    max-width: 50vw;
    user-select: none;
}

#form {
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50vh;
    bottom: 0;
    margin: auto;
    color: rgb(168, 168, 168);
    background-color: rgba(36, 36, 36, 0.4);
    backdrop-filter: blur(8px);
    width: 25vw;
    height: fit-content;
}